<div class="container">
    <header>
        <h1>{{i18n.title}}</h1>
        <form class="new-task">
            <input type="text" name="text" placeholder="{{i18n.descAddTask}}" />
        </form>
    </header>

    <ul>
        <% [].forEach.call(tasks, function(t) { %>
        <li class="<% if(t.checked){ %>checked<% } %>" data-id="{{t.id}}">
            <button class="delete">&times;</button>
            <input class="toggle-checked" type="checkbox" <% if(t.checked){ %>checked<% } %>>
            <span class="text">{{t.text}}</span>
        </li>
        <% }) %>
    </ul>
</div>

<div id="locale-container"></div>

