<div class="container">
    <header>
        <h1>{{i18n.title}}</h1>
        <form class="new-task">
            <input type="text" name="text" placeholder="{{i18n.descAddTask}}" />
        </form>
    </header>

    <ul>
        {{#each tasks}}
            {{> task}}
        {{/each}}
    </ul>
</div>

<div id="locale-container"></div>

<script id="task" type="template">
    <li class="{{#if checked}}checked{{/if}}" data-id="{{id}}">
        <button class="delete">&times;</button>
        <input class="toggle-checked" type="checkbox" {{#if checked}}checked="checked"{{/if}} />
        <span class="text">{{text}}</span>
    </li>
</script>
